body {
  display: grid;
  grid-template-rows: 6rem 1fr 7rem;
  height: 100vh;
  width: 100vw;
}

header {
  grid-row-start: 1;
  background-color: rgb(255, 201, 85);
  width: 100%;
  align-content: center;
}

nav img {
  width: 4rem;
  margin: 1rem;
}

main {
  grid-row-start: 2;
  background-color: rgb(130, 85, 255);
}

footer {
  grid-row-start: 3;
  background-color: #5ff;
}